*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #0d769f;
    color: white;
}
.header{
    background-color:#000;
    padding: 20px;
}
.nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
   
}
.logo{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.contact-section{
    padding:40px;
    max-width: 600px;
    margin: auto;
    text-align:center;
}
.contact-section h1{
    color:white;
    margin-bottom:20px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.contact-form input,
 .contact-form textarea{
    padding:10px;
    border-radius:10px;
    border:none;
    font-size:16px;
}
.contact-form textarea{
    height: 120px;
}
.contact-form button{
    padding:10px;
    border:none;
    border-radius:20px;
    color:white;
    background:#ff7b00;
    font-size:16px;
    cursor:pointer;
}
.contact-form button:hover{
    background:#e06b00;
}
.footer{
    color:black;
}