*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#226ab7;
    color:#fff;
}

.header{
    background:#000;
    padding:20px;
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.profile img{
    width:35%;
    border:2px solid #d11d9e;
    display:block;
    margin:40px auto;
    position:absolute;
    left:10%;
}
.home{
    height:300px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}

.bio{
    max-width: 400px;
}
.bio h1{
    font-size: 32px ;
}
.bio p{
    font-size: 16px;
}

.grid-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:20px;
}
