*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#226ab7;
    color:#fff;
}

.header{
    background:black;
    padding:20px;
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

main{
    padding:20px;
    max-width: 1200px;
    margin: 0 auto;
    color:black;
}

h1{
    text-align: center;
    margin-bottom:1px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.project-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.large {
  grid-column: span 2;
}

.medium {
  grid-column: span 1;
}

.small {
  grid-column: span 1;
}
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .large,
  .medium,
  .small {
    grid-column: span 1;
  }
}
