*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    font-family:Arial;
    background:#87ceeb;
}

/* TOGGLE */
.toggle{
    position:left;
    top:20px;
    right:20px;
    z-index:100;
}
.btn{
    padding:10px 18px;
    border-radius:20px;
    background:white;
    text-decoration: none;
    font-size:16px;
    display: none;
}
/*default = day*/
.day-btn{
    display: inline-block;
}   

/* NIGHT MODE */
#night:target ~ .toggle .day-btn{
    display:none;
}
#night:target ~ .toggle .night-btn{
    display:inline-block;
}
#night:target ~ .scene{
    background-image: url("https://scontent.fktm21-1.fna.fbcdn.net/v/t1.15752-9/611021418_1164275559203991_7228242423111930742_n.png?stp=dst-png_s480x480&_nc_cat=111&ccb=1-7&_nc_sid=0024fc&_nc_ohc=fnSwIc00FaYQ7kNvwGAytpc&_nc_oc=AdklC-kp7pXOIu-p5JCEV5r9INQ-1HWHQ0j9n3UgPjnox91SmNppZnNYY8Y7SLLVLGoe9OA8LsRlKy19CinNJCs1&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fktm21-1.fna&oh=03_Q7cD4QEiiMicbRMXbyA26L07YwIMEIXS2OVGjcfiFoeyDv3ILA&oe=69884A21");
    z-index: 0;
}
#night:target ~ .scene .sun{
    display:none;
}
#night:target ~ .scene .moon{
    display:block;
}

/* BACK TO DAY */
#day:target ~ .toggle .night-btn{
    display:none;
}
#day:target ~ .toggle .day-btn{
    display:inline-block;
}
#day:target ~ .scene{
    background-image:url("https://scontent.fktm21-2.fna.fbcdn.net/v/t1.15752-9/611405167_1613390930023366_2198946052723511645_n.png?stp=dst-png_s480x480&_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_ohc=NjsUasCWp6oQ7kNvwE_Vsh-&_nc_oc=Adk2O0nVvhGSHpa9SmfanAu4zOqRTeIzNXIIObzogEG6xzfYQgnCvdRlhiHCwxOq5-NZENCxSrNJwQNq6mESt4xr&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fktm21-2.fna&oh=03_Q7cD4QGvPwRUtLw4SsMBaG27kjKOSMKuNhfTOOvbWPI_QGR1WA&oe=69884F94");
    z-index: 1;
}
#day:target ~ .scene .moon{
    display:none;
}
#day:target ~ .scene .sun{
    display:block;
}

/* ================= DAY ================= */
#day:target ~ .scene{
   
}

/* ================= NIGHT ================= */
#night:target ~ .scene{
 

body{

}

/* TOGGLE */
.toggle{
    position:left;
    top:20px;
    right:20px;
    z-index:10;
}

.toggle a{
    text-decoration:none;
    font-size:28px;
    margin-left:10px;
    padding:10px;
    border-radius:50%;
    background:white;
}


}


