*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#87ceeb;
    color:#fff;
}

.header{
    background:#000;
    padding:20px;
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

main{
    padding:20px;
    max-width: 1200px;
    margin: 0 auto;
}

